<h1><%= @user.email %>'s Events</h1>

<p>Created Events:</p>
<ul>
    <% @user.created_events.each do |event| %>
        <li>
            <%= link_to event.title, event %>
        </li>
    <% end %>
</ul>


<p>Events you have not choice but to attend:</p>
<% @user.attended_events.each do |event| %>        
    <% if event.date >= Date.today %>
        <ul>
            <li><%= link_to event.title, event %><br><br></li>
        </ul>
    <% else %>
    <% end %>
<% end %>

<p>Events you've already suffered through:</p>
<% @user.attended_events.each do |event| %>
    <% if event.date < Date.today %>
        <ul>
            <li><%= link_to event.title, event %><br><br></li>
        </ul>
    <% else %>
    <% end %>
<% end %>

<%= button_to "Sign Out", destroy_user_session_path, :method => :delete %>