<h1><%= @event.title %></h1>

<p>Date: <%= @event.date %></p>
<p>Location: <%= @event.location %></p>
<p>RSVPeeps:</p>
<% if @event.attendees %>
<ul>
    <% @event.attendees.each do |user| %>
    <li><%= user.email %></li>
    <% end %>
</ul>
<% else %>
    <p>No one is coming.... yet.</p>
<% end %>
<% if @event.attendees.include?(current_user) %>
    <p>You're already going! I'm afraid there's no way to un-RSVP yet.</p>
<% else %>
    <%= link_to "This sounds dope as hell, I wanna go!",invite_path(@event) %><br><br>
<% end %>